{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "comma-dangle": "off",
    "require-jsdoc" : 0
  },
  "extends": ["eslint:recommended", "google"]
}
