.excel__header{
	width: 100%;
	min-width: 1px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-height: $header-height;
	padding: 8px 4px 0;
	display: flex;
	justify-content: space-between;
	//background-color: lightgreen;
	align-items: center;

	& input {
		margin: 0;
		padding: 7px;
		color: black;
		border: 2px solid transparent;
		border-radius: 2px;
		height: 20px;
		line-height: 22px;
		outline: none;
		&:focus{
			border: 2px solid #1a73e8;
		}
		&:hover {
			border: 2px solid $border-color;
		}
	}
	& .button {
		@include button(green);
	}
}