@mixin button($color: green) {
  height: 24px;
  min-width: 24px;
  padding: 3px;
  text-align: center;
  display: inline-block;
  line-height: 24px;
  position: relative;
  color: rgba(0,0,0,.7);
  transition: color .5s ease;
  cursor: pointer;

  span {
    font-size: 18px;
  }

  &.active span,
  &:active span {
    color: $color;
  }

  &:hover{
    background-color: #eee;
  }
}

@mixin  clear-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin resizer() {
  position: absolute;
  width: 4px;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  transition: background-color .5s ease;
  cursor: col-resize;
  &:hover {
    background-color: $primary-color;
  }
}